In [1]:
import pandas as pd
import numpy as np
from faker import Faker

In [2]:
# Initialize Faker
fake = Faker()

In [3]:
#number of records
num_records = 10000

In [4]:
# Define with their respective probabilities
tiers = [
    ("CXO", 0.05),
    ("Manager", 0.10),
    ("Freelancer", 0.20),
    ("Lead", 0.20),
    ("Professional", 0.45)
]

In [5]:
# Extract tier names and their probabilities
tier_names, tier_probs = zip(*tiers)

In [6]:
# Generate the data
data = {
    "ProfessionalDetails": [fake.job() for _ in range(num_records)],
    "Tier": np.random.choice(tier_names, num_records, p=tier_probs)
}

In [7]:
df = pd.DataFrame(data)

In [8]:
print(df.head())

       ProfessionalDetails          Tier
0              Pathologist          Lead
1     Brewing technologist          Lead
2  Chartered loss adjuster          Lead
3          Event organiser    Freelancer
4                Homeopath  Professional

In [10]:
# save dataframe to csv file
file_path = 'fake_professional_data.csv'
df.to_csv(file_path, index=False)

In [11]:

print(f"Data saved to {file_path}")

Data saved to fake_professional_data.csv

In [12]:
df_loaded = pd.read_csv('fake_professional_data.csv')

In [13]:
df_loaded.head(15)

                             ProfessionalDetails          Tier
0                                    Pathologist          Lead
1                           Brewing technologist          Lead
2                        Chartered loss adjuster          Lead
3                                Event organiser    Freelancer
4                                      Homeopath  Professional
5                           Newspaper journalist          Lead
6                                           Make       Manager
7                                   Psychiatrist    Freelancer
8                                 Futures trader          Lead
9                Chartered management accountant  Professional
10  Lighting technician, broadcasting/film/video  Professional
11                               Producer, radio  Professional
12        Research scientist (physical sciences)    Freelancer
13                             Financial planner  Professional
14                            Press photographer          Lead